parameters:
    level: max
    paths:
        - src
        - tests

    type_coverage:
        return_type: 80
        param_type: 80
        property_type: 80
        constant: 80
        declare: 100
