includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: max
    paths:
        - src
        - tests

    type_coverage:
        min_percentage: 90
        return: 80
        param: 80
        property: 80
        constant: 80
        declare: 100
